name: .NET CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
        dotnet-quality: preview
    - name: Restore dependencies
      run: dotnet restore GitTest.slnx
    - name: Build
      run: dotnet build GitTest.slnx --no-restore
    - name: Test
      run: dotnet test GitTest.slnx --no-build --verbosity normal
